__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

.env
config.py
secrets.json

.pytest_cache/
.coverage
htmlcov/
.cache/
tests/__pycache__/

migrations/

*.db
*.sqlite3

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

venv/
tests/
logs/

frontend/node_modules/
frontend/build/
frontend/dist/